.nav_grid_tabletMode{
    width: 100%;
    padding-top: 10px;
    display: grid;
    grid-template-columns: 30% 1fr 1fr 1fr 250px 1fr 1fr 1fr 30%;
    display: flex;
    align-items:end;
}

.tab1_tabletMode{
    grid-column-start: 2;
    padding-bottom: 7px;
}

.tab2_tabletMode{
    grid-column-start: 3;
    padding-bottom: 7px;
}

.tab3_tabletMode{
    grid-column-start: 4;
    padding-right: 10px;
    padding-bottom: 7px;
}

.logo_tabletMode{
    grid-column-start: 5;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    padding-bottom: 7px;
}

.tab4_tabletMode{
    grid-column-start: 6;
    padding-left: 10px;
    padding-bottom: 7px;
}

.tab5_tabletMode{
    grid-column-start: 7;
    padding-bottom: 7px;
}

.tab6_tabletMode{
    grid-column-start: 8;
    padding-bottom: 7px;
}


.nav_bar_text_tabletMode{
    color: white;
    align-items: end;
    justify-content: center;
    font-size: 20px;
    font-family: Dosis, serif;
}

.innerHeaderText_tabletMode{
    text-align: center;
    font: normal normal normal 45px/57px Dosis;
    letter-spacing: 0px;
    color: #E5FEFF;
    opacity: 1;
    margin-bottom: 14px;
}

.innerHeaderSubText_tabletMode{
    text-align: center;
    font: normal normal normal 16px/20px 'Source Sans 3';
    letter-spacing: 0px;
    color: #E5FEFF;
    opacity: 1;
}

.header_tabletMode{
    width: 1920; 
    background-image: url('../assets/header.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position:  50% 55%; 
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    padding: 10% 10%;
    /* overflow: hidden; */
}

.section1_tabletMode{
    width: 1920px; 

    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 1140;/*1136*/
    width: 1920px; 

    display: grid;
    grid-template: 1fr/ 369px;
    margin-top: 110px;
    margin-bottom: 90px;
}

.section2_tabletMode{
    width: 1920; 
    background-image: url('../assets/bg2.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    display: flex;
    justify-content: center;

}

.section3_tabletMode{
    width: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    display: grid;
    grid-template: 83px 235px 235px 235px / 100% 100%;
    margin-top: 100px;
    margin-bottom: 100px;
}

.insideHeader_tabletMode{
    width: 500%;
    height: 232px;
    background: #000324 0% 0% no-repeat padding-box;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    flex-direction: column;
}
.section4_tabletMode{
    width: 1920;
    background-image: url('../assets/bg.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    display: grid;
    grid-template: 61px 132px 100px 57px / 25%  25%  25%  25%;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 45px;
    padding-bottom: 170px;
}

.section5_tabletMode{
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    display: grid;
    grid-template-rows: 307px  414px;
    grid-template-columns: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
}

.footer_tabletMode{
    width: 1920;
    background-color: #000324;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top:24px;
    padding-bottom:80px;
}

.section1grid_tabletMode{
    width: 1140;/*1136*/
    width: 1920px; 
    height: 416px;
    display: grid;
    grid-template: 1fr 1fr / 369px 1fr 1fr 1fr;
}

.section_item_1_1_tabletMode{

    width: 369px;
    height: 416px;
    overflow: hidden;
    justify-self: center;
    align-self: center;


}
.section_item_1_2_tabletMode{
    grid-row-start: 1;
    grid-column-start: 2;
    grid-column-end: 5;
    display: flex;
    flex-direction: column;
    padding: 14px;
}
.section_item_1_3_tabletMode{
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 5;
    justify-self: space;
    align-self: flex-end;
}
.section1_text_tabletMode{
    text-align: left;
    font: normal normal normal 35px/44px Dosis;
    letter-spacing: 0px;
    color: #1A1B26;
    opacity: 1;
}

.section1_subtext_tabletMode{
    text-align: left;
    font: normal normal normal 16px/20px 'Source Sans 3';
    letter-spacing: 0px;
    color: #1A1B26;
    opacity: 1;
}

.section2_card_title_text_tabletMode{
    text-align: left;
    font: normal normal normal 25px/32px Dosis;
    letter-spacing: 0px;
    color: #1A1B26;
    opacity: 1;
}

.section2_card_subTitle_text_tabletMode{
    text-align: left;
    font: normal normal bold 16px/20px Sans Pro 3;
    letter-spacing: 0px;
    color: #1A1B26;
    opacity: 1;
}

.section_item_3_1_tabletMode{
    grid-area: 1/1/1/3;
    display: flex;
    justify-content: center;
    align-self: center;
    text-align: center;
    font: normal normal normal 35px/44px Dosis;
    letter-spacing: 0px;
    color: #1A1B26;
    opacity: 1;
}

.section_item_3_2_tabletMode{
    width: 100%;
    overflow: hidden;

}

.section_item_3_3_tabletMode{

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section_item_3_4_tabletMode{

}

.section_item_3_5_tabletMode{
    width: 561px;
    height: 234px;
    overflow: hidden;
    display: flex;
    align-items: center;

}

.section_item_3_6_tabletMode{
    width: 561px;
    height: 234px;
    overflow: hidden;

}

.section_item_3_7_tabletMode{

}

.our_rooms_tabletMode{
    text-align: center;
    font: normal normal normal 35px/44px Dosis;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.section3_Titles_tabletMode{
    text-align: left;
    font: normal normal normal 25px/32px Dosis;
    letter-spacing: 0px;
    color: #1A1B26;
    opacity: 1;
}

.section3_blue_txt_tabletMode{
    text-align: left;
    font: normal normal normal 16px/20px 'Source Sans 3';
    letter-spacing: 0px;
    color: #1F51A8;
    opacity: 1; 
}

.section3_paragraph_tabletMode{
    text-align: left;
    font: normal normal normal 16px/20px 'Source Sans 3';
    letter-spacing: 0px;
    color: #1A1B26;
    opacity: 1;
}

.section4_title_tabletMode{
    font: normal normal normal 35px/44px Dosis;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.section4_subTitle_text_tabletMode{
    text-align: top;
    font: normal normal normal 16px/20px 'Source Sans 3';
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.section4_text_tabletMode{
    text-align: center;
    font: normal normal bold 20px/25px 'Source Sans 3';
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.section_item_4_1_tabletMode{
    grid-column: 1 / 5;
    grid-row: 1;
    display: flex;
    justify-content: center;
}

.section_item_4_2_tabletMode{
    grid-column: 1 / 5;
    grid-row: 2;
    display: flex;
    justify-content: center;
}

.section_item_4_3_tabletMode{
    grid-column: 1;
    grid-row: 3;
    display: flex;
    justify-content: center;
}

.section_item_4_4_tabletMode{
    grid-column: 2;
    grid-row: 3;
    display: flex;
    justify-content: center;
}

.section_item_4_5_tabletMode{
    grid-column: 3;
    grid-row: 3;
    display: flex;
    justify-content: center;
}

.section_item_4_6_tabletMode{
    grid-column: 4;
    grid-row: 3;
    display: flex;
    justify-content: center;
}

.section_item_4_7_tabletMode{
    grid-column: 1;
    grid-row: 4;
    display: flex;
    justify-content: center;
    align-self: flex-end;
}

.section_item_4_8_tabletMode{
    grid-column: 2;
    grid-row: 4;
    display: flex;
    justify-content: center;
    align-self: flex-end;
}

.section_item_4_9_tabletMode{
    grid-column: 3;
    grid-row: 4;
    display: flex;
    justify-content: center;
    align-self: flex-end;
}

.section_item_4_10_tabletMode{
    grid-column: 4;
    grid-row: 4;
    display: flex;
    justify-content: center;
    align-self: flex-end;
}

.section_item_5_1_tabletMode{
    height: 100%;
    grid-row: 1;
    background-color: #000324;
    display: grid;
    grid-template-rows: 45px 45px 45px 45px 45px;
    grid-template-columns: 177px 15px 177px 15px 177px 15px;
    padding-left: 96px;
    padding-right: 96px;
    padding-top:24px;
    padding-bottom:50px;
}

.section_item_5_1_1_tabletMode{
    grid-row: 1;
    grid-column: 1/10;
    display: flex;
    /* justify-content: center; */
    align-self: flex-end;
    text-align: center;
    font: normal normal normal 35px/44px Dosis;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;

}

.section_item_5_1_2_tabletMode{
    grid-row: 2;
    grid-column: 1;
    display: flex;
    align-self: flex-end;
    text-align: left;
    font: normal normal normal 16px/20px Source Sans 3;
    letter-spacing: 0px;
    color: #E5FEFF;
    opacity: 1;
}

.section_item_5_1_3_tabletMode{
    grid-row: 2;
    grid-column: 3;
    display: flex;
    align-self: flex-end;
    text-align: left;
    font: normal normal normal 16px/20px Source Sans 3;
    letter-spacing: 0px;
    color: #E5FEFF;
    opacity: 1;
}

.section_item_5_1_4_tabletMode{
    grid-row: 4;
    grid-column: 1;
    display: flex;
    align-self: flex-end;
    text-align: left;
    font: normal normal normal 16px/20px Source Sans 3;
    letter-spacing: 0px;
    color: #E5FEFF;
    opacity: 1;
}

.section_item_5_1_5_tabletMode{
    grid-row: 4;
    grid-column: 3;
    display: flex;
    align-self: flex-end;
    text-align: left;
    font: normal normal normal 16px/20px Source Sans 3;
    letter-spacing: 0px;
    color: #E5FEFF;
    opacity: 1;
}

.section_item_5_1_6_tabletMode{
    grid-row: 3;
    grid-column: 1;
    display: flex;
    align-self: flex-end;
    padding-right: 15px;
    overflow: hidden;

}

.section_item_5_1_7_tabletMode{
    grid-row: 3;
    grid-column: 3;
    display: flex;
    align-self: flex-end;
    padding-right: 15px;
    overflow: hidden;
}

.section_item_5_1_8_tabletMode{
    grid-row: 5;
    grid-column: 1;
    display: flex;
    align-self: flex-end;
    padding-right: 15px;
    overflow: hidden;
}

.section_item_5_1_9_tabletMode{
    grid-row: 5;
    grid-column: 3;
    display: flex;
    align-self: flex-end;
    padding-right: 15px;
    overflow: hidden;
}

.section_item_5_1_10_tabletMode{
    grid-row: 3;
    grid-column: 5;
    display: flex;
    align-self: flex-end;
    padding-right: 15px;
    overflow: hidden;
}

.section_item_5_2_tabletMode{
    height: 414px;
    grid-row: 2;
    background-image: url(../assets/hamsterreserve.jpg);
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 

}

.inputField_tabletMode{
    font-size: 22px;
  }

.button_tabletMode{
    width: 177px;
    background-color:#006EDB; /* Green */
    border: none;
    color: white;
    padding: 7px 9px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    display: flex;
    align-self: flex-end;
    text-align: center;
    font: normal normal bold 20px/25px Source Sans 3;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
  }

.footerTxt_tabletMode{
    text-align: left;
    font: normal normal normal 16px/20px Source Sans Pro;
    letter-spacing: 0px;
    color: #E5FEFF;
    opacity: 1;
    margin: 23px;
}

.copyRight_tabletMode{
    text-align: left;
    font: normal normal normal 16px/20px Source Sans Pro;
    letter-spacing: 0px;
    color: #E5FEFF;
    opacity: 1;
}

.CardButton_tabletMode{
    width: 150px;
    height: 50px;
    background-color:#006EDB; /* Green */
    border: none;
    color: white;
    padding: 7px 9px;
    text-align: center;
    align-self: flex-end;
    text-decoration: none;
    /* display: inline-block; */


    font: normal normal bold 20px/25px Source Sans 3;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

